[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12.0"
dependencies = [
    "fastapi[standard]>=0.103.2",
    "langchain>=1.1.0",
    "langchain-openai>=0.3.28",
    "openai>=1.98.0",
    "uvicorn>=0.38.0",
]
